/*TODO GTB-工程实践: - css的class命名不符合规范a-b的格式*/
/*TODO GTB-知识点: - 不用新建一个index.css文件，写在index.scss文件里面就行了*/
.mainContainer {
  margin: 128px auto;
  width: 80%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 32px 32px;
}

.avatar {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  align-self: center;
  margin-top: -96px;
}

.greeting {
  font-size: x-large;
  font-weight: bold;
  margin: 8px auto;
}

.introduction {
  font-size: x-large;
  font-weight: bold;
  margin: 8px auto;
}

.hr {
  width: 95%;
  color: lightgray;
  size: 2px;
  margin: 8px auto;
}

.content_headline {
  color: indianred;
  margin-top: 32px;
}

.description {
  font-size: initial;
}

.education {
  width: 90%;
  font-size: initial;
  display: flex;
  justify-content: space-between;
}
/*TODO GTB-知识点: - 应该给年份和education_container一个宽度*/
.education_container {
  background-color: #fafaff;
  padding: 0 16px;
}

.education_headline {
  font-weight: bold;
}
